
.simulChoice{
    .MuiOutlinedInput-input {
        padding: 11.5px 14px;
    }
    .MuiFormLabel-root {
        line-height: 0;
    }
}


.simulChoice_pred{
    .MuiOutlinedInput-input {
        padding: 11.5px 14px;
    }
    .MuiFormLabel-root {
        line-height: 0;
    }

}